<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.css"/>
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
     <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="../static/css/hd.css">
     
     
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
     <script type="text/javascript" src="../static/js/graph.js"></script>

</head>
<body> 
    
    <div id="introductionSection">
    <div class="row">
    <div class="col-xs-10 col-sm-8 col-lg-12 text-center">
    <h2>Introduction</h2> 
    <p class = "introductionPara">The HDI was created to emphasize that people and their capabilities should be the ultimate criteria for assessing the development of a country, not economic growth alone. The HDI study measures achievment within three primary dimensions and their correlating indicators; Long and Happy Life (Life Expectancy), knowledge (education) and standard of living (Gross National Income). The HDI simplifies and captures only part of what human development entails. This study does not reflect on inequalities or poverty. </p>
    </div>
    </div>
    </div>
    <hr>
    
    <div id = "countrySection">
    <div class="row">
    <div class="col-xs-10 col-sm-8 col-lg-12 text-center">
    <h2>Country Specific Data</h2>
    <h3>Choose Country</h3>
    <br>
    <p>View the scores for a country of your choice by clicking on a bar on the bar chart or by selecting a country from the drop down menu. </p>
    <br>
    </div>
    </div>
    </div>
    
    <div class = "chooseCountry container-fluid">
    <div class="row">
        
    <div class="col-3 text-center">
    <span id="choose_by_country"></span>
    </div>
    
    <br>
    
    <div class="col-xs-12 col-sm-12 col-lg-12 text-center">
    <h2>HDI Score By Country</h2>
    <span id="hdi_rank_by_country"></span>
    </div>
    
    </div>
    </div>

    
    <hr>
    
    <div class = "scoreSection">
    <div class="col-xs-10 col-sm-8 col-lg-12 text-center">
    <h2>Summary Of Country's Scores</h2>
     <br>
    </div>
   
    <div class = "scoreCards1 container-fluid">
    <div class="row">
    
    <div class="col-lg-4 col-sm-4 col-xs-10 text-center mb-3"> 
        <div class="card">
        <h4>The average HDI score for your selection is: </h4><p id="average_hdi_score"></p>
        </div>
        </div>
    
    <div class="col-lg-4 col-sm-4 col-xs-10 text-center mb-3"> 
        <div class="card">
        <h4>The HDI rank of your selection is: </h4><p id ="display_rank"></p>
        </div>
        </div>
        
     <div class="col-lg-4 col-sm-4 col-xs-10 text-center mb-3"> 
        <div class="card">
        <h4>The life expectancy rate of your selection is: </h4><p id="display_life_expectancy"></p>
        </div>
        </div>
    
    </div>
    </div>
    
    <br>
    <br>
    
    <div class = "scoreCards2 container-fluid">
    <div class="row">
        
    <div class="col-lg-6 col-sm-6 col-xs-12 text-center mb-3"> 
        <div class="card">
        <h4>The gross annual income per capita for your selection is: </h4><p id="display_gross_income"></p>
        </div>
        </div>
        
    <div class="col-lg-6 col-sm-6 col-xs-12 text-center mb-3"> 
        <div class="card">
        <h4>The mean years of education for adults 25+ for your selection is: </h4><p id="display_mean_education"></p>
        </div>
        </div>
        
    </div>
    </div>
   </div>
   
   <br>
   
   <div id="continentSection">
    <div class="row">
    <div class="col-xs-10 col-sm-8 col-lg-12 text-center">
    <h2>Continent Specific Data</h2>
   
    <div id="correlationSection">
    
    <div class="row">
    <div class="col-xs-10 col-sm-8 col-lg-12 text-center">
    <h3>Correlations between the 3 primary dimensions</h3>
   <br>
    
    <div class = "correlationLife container-fluid">
    <div class="row">
     
     <div class="col-lg-8 col-sm-8 col-xs-12 text-left mb-3">
     <h3>Correlation between Life Expectancy and HDI</h3>
     <span id="show_life_expectancy_to_HDI_correlation"></span>
     </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 text-left mb-3">
    <h3>Findings</h3>
    <p class="correlationP">This chart indicates that a higher life expectancy at birth correlates to a higher HDI score.</p>
    <br>
    <h4>Key</h4>
    <ul class ="correlationList">
         <li>Africa = Pink</li>
         <li>Asia = Blue</li>
         <li>Europe = Orange</li>
         <li>Oceania = Yellow</li>
         <li>South America = Red</li>
         <li>North America = Green</li>
     </ul>
     </div>
    </div>
    
    <br>
    <hr>
    <div class = "correlationIncome container-fluid">
    <div class="row">
    
     <div class="col-lg-8 col-sm-8 col-xs-12 text-left mb-3">
     <h3>Correlation between Gross National Income and HDI</h3>
     <span id="show_GNI_to_HDI_correlation"></span>
     </div>
     <div class="col-lg-4 col-sm-4 col-xs-12 text-left mb-3">
     <h3>Findings</h3>
     <p class="correlationP">This chart indicates that GNI levels falling into the median range correlate to the highest HDI scores, while the lowest GNI levels correlate to the lowest HDI scores. The highest GNI scores do not correlate to the highest HDI scores. </p>  
     <br>
     <ul class ="correlationList">
         <li>Africa = Pink</li>
         <li>Asia = Blue</li>
         <li>Europe = Orange</li>
         <li>Oceania = Yellow</li>
         <li>South America = Red</li>
         <li>North America = Green</li>
     </ul>
     </div>
    </div>
    <br>
    <hr>
    <div class = "correlationEducation container-fluid">
    <div class="row">
    
    <div class="col-lg-8 col-sm-8 col-xs-12 text-left mb-3">
    <h3>Correlation between Mean Number of Education Years and HDI</h3>
    <span class= "col-md-8" id="show_Education_to_HDI_correlation"></span>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 text-left mb-3">
    <h3>Findings</h3>
     <p class="correlationP">This chart indicates that the highest levels of education correlate to higher HDI scores. There is also a correlation between a low number of education years and low GNI, which together result in a lower than average HDI score.</p> 
     <br>
     <ul class ="correlationList">
         <li>Africa = Pink</li>
         <li>Asia = Blue</li>
         <li>Europe = Orange</li>
         <li>Oceania = Yellow</li>
         <li>South America = Red</li>
         <li>North America = Green</li>
     </ul>
     </div>
    </div>
</div>  
<br>
<hr>
    
    <div class = "continentHDI container-fluid">
    <div class="row">
        
    <div class="col-lg-6 col-sm-6 col-xs-12 text-left mb-3"> 
    <h3>Avg HDI per continent</h3>
    <span id="average_hdi_score_by_continent"></span>
    </div>
    
    <div class="col-lg-6 col-sm-6 col-xs-12 text-center mb-3">
    <h3>Countries with highest HDI score</h3>
    <span id="top_10_countries"></span>
    <br>
    <h3>Countries with lowest HDI score</h3>
    <span id="lowest_10_countries"></span>
    </div>
    
</div>

<br>
<hr> 
 
    <div class = "continentExpectancy container-fluid">
    <div class="row">

     <div class="col-lg-6 col-sm-6 col-xs-12 text-left mb-3">
     <h3>Average Life Expectancy per Continent</h3>
     <div id="life_expectancy_average"></div>
    </div>
     
     <div class="col-lg-6 col-sm-6 col-xs-12 text-center mb-3">
    <h3>Countries with highest life expectancy</h3>
    <span id="top_10_expectancy"></span>
    <br>
    <h3>Countries with lowest life expectancy</h3>
    <span id="lowest_10_expectancy"></span>
    </div>
  
  </div>
  </div>
  <br>
  <hr>
  
  <div class = "continentIncome container-fluid">
    <div class="row">
   
   <div class="col-lg-6 col-sm-6 col-xs-12 text-left mb-3">
    <h3>Gross National Income Per Continent</h3>
   <div id="average_income_by_continent"></div>
    </div>
    
     <div class="col-lg-6 col-sm-6 col-xs-12 text-center mb-3">
    <h3>Countries with highest gross income</h3>
    <span id="top_10_income"></span>
    <br>
    <h3>Countries with lowest gross income</h3>
    <span id="lowest_10_income"></span>
    </div>
  
  </div>
  </div>
  <br>
  <hr>
  
    <div class = "continentEducation container-fluid">
    <div class="row">
        
    <div class="col-lg-6 col-sm-6 col-xs-12 text-left mb-3"> 
    <h3>Mean number of education years per continent</h3>
    <span id="average_education_by_continent"></span>
    </div>
    
    <div class="col-lg-6 col-sm-6 col-xs-12 text-center mb-3">
    <h3>Countries with most educational years</h3>
    <span id="top_10_education"></span>
    <br>
    <h3>Countries with fewest educational years</h3>
    <span id="lowest_10_education"></span>
    </div>
    
</div>

<hr> 
    
   <hr>
   

    <script src="https://code.jquery.com/jquery.min.js"></script>
 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>